---
http_interactions:
- request:
    method: get
    uri: http://www.govtrack.us/api/v2/vote_voter/29825503
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      content-type:
      - text/html
      location:
      - https://www.govtrack.us/api/v2/vote_voter/29825503
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.4.6
        (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 22 Dec 2014 01:46:08 GMT
- request:
    method: get
    uri: https://www.govtrack.us/api/v2/vote_voter/29825503
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      generated-at:
      - '2014-12-21T20:46:05.706981'
      x-konklone-force-https:
      - 'TRUE'
    body:
      encoding: UTF-8
      string: "{\n \"created\": \"2013-07-30T10:15:00\", \n \"id\": 29825503, \n \"option\":
        {\n  \"id\": 436472, \n  \"key\": \"0\", \n  \"value\": \"Not Voting\", \n
        \ \"vote\": 113728\n }, \n \"person\": {\n  \"bioguideid\": \"H001069\", \n
        \ \"birthday\": \"1955-10-30\", \n  \"cspanid\": 95414, \n  \"firstname\":
        \"Heidi\", \n  \"gender\": \"female\", \n  \"gender_label\": \"Female\", \n
        \ \"id\": 412554, \n  \"lastname\": \"Heitkamp\", \n  \"link\": \"https://www.govtrack.us/congress/members/heidi_heitkamp/412554\",
        \n  \"middlename\": \"\", \n  \"name\": \"Sen. Heidi Heitkamp [D-ND]\", \n
        \ \"namemod\": \"\", \n  \"nickname\": \"\", \n  \"osid\": \"N00033782\",
        \n  \"pvsid\": \"41716\", \n  \"sortname\": \"Heitkamp, Heidi (Sen.) [D-ND]\",
        \n  \"twitterid\": \"SenatorHeitkamp\", \n  \"youtubeid\": \"senatorheidiheitkamp\"\n
        }, \n \"person_role\": {\n  \"caucus\": null, \n  \"congress_numbers\": [\n
        \  113, \n   114, \n   115\n  ], \n  \"current\": true, \n  \"description\":
        \"Junior Senator from North Dakota\", \n  \"district\": null, \n  \"enddate\":
        \"2019-01-03\", \n  \"id\": 43121, \n  \"leadership_title\": null, \n  \"party\":
        \"Democrat\", \n  \"person\": 412554, \n  \"phone\": \"202-224-2043\", \n
        \ \"role_type\": \"senator\", \n  \"role_type_label\": \"Senator\", \n  \"senator_class\":
        \"class1\", \n  \"senator_class_label\": \"Class 1\", \n  \"senator_rank\":
        \"junior\", \n  \"senator_rank_label\": \"Junior\", \n  \"startdate\": \"2013-01-03\",
        \n  \"state\": \"ND\", \n  \"title\": \"Sen.\", \n  \"title_long\": \"Senator\",
        \n  \"website\": \"http://www.heitkamp.senate.gov\"\n }, \n \"vote\": {\n
        \ \"category\": \"cloture\", \n  \"category_label\": \"Cloture\", \n  \"chamber\":
        \"senate\", \n  \"chamber_label\": \"Senate\", \n  \"congress\": 113, \n  \"created\":
        \"2013-07-30T10:15:00\", \n  \"id\": 113728, \n  \"link\": \"https://www.govtrack.us/congress/votes/113-2013/s189\",
        \n  \"missing_data\": false, \n  \"number\": 189, \n  \"question\": \"On the
        Cloture Motion PN679: Kent Yoshiho Hirozawa, of New York, to be a Member of
        the National Labor Relations Board for the term of five years expiring August
        27, 2016\", \n  \"question_details\": null, \n  \"related_amendment\": null,
        \n  \"related_bill\": null, \n  \"required\": \"3/5\", \n  \"result\": \"Cloture
        Motion Agreed to\", \n  \"session\": \"2013\", \n  \"source\": \"senate\",
        \n  \"source_label\": \"senate.gov\", \n  \"total_minus\": 34, \n  \"total_other\":
        2, \n  \"total_plus\": 64, \n  \"vote_type\": \"On the Cloture Motion\"\n
        }, \n \"voter_type\": \"member\", \n \"voter_type_label\": \"Member of Congress\"\n}"
  recorded_at: Mon, 22 Dec 2014 01:46:08 GMT
- request:
    method: get
    uri: http://www.govtrack.us/api/v2/vote/113728
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      content-type:
      - text/html
      location:
      - https://www.govtrack.us/api/v2/vote/113728
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.4.6
        (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 22 Dec 2014 01:46:08 GMT
- request:
    method: get
    uri: https://www.govtrack.us/api/v2/vote/113728
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      generated-at:
      - '2014-12-21T20:46:08.517940'
      x-konklone-force-https:
      - 'TRUE'
    body:
      encoding: UTF-8
      string: "{\n \"category\": \"cloture\", \n \"category_label\": \"Cloture\",
        \n \"chamber\": \"senate\", \n \"chamber_label\": \"Senate\", \n \"congress\":
        113, \n \"created\": \"2013-07-30T10:15:00\", \n \"id\": 113728, \n \"link\":
        \"https://www.govtrack.us/congress/votes/113-2013/s189\", \n \"missing_data\":
        false, \n \"number\": 189, \n \"options\": [\n  {\n   \"id\": 436469, \n   \"key\":
        \"+\", \n   \"value\": \"Yea\", \n   \"vote\": 113728\n  }, \n  {\n   \"id\":
        436470, \n   \"key\": \"-\", \n   \"value\": \"Nay\", \n   \"vote\": 113728\n
        \ }, \n  {\n   \"id\": 436471, \n   \"key\": \"P\", \n   \"value\": \"Present\",
        \n   \"vote\": 113728\n  }, \n  {\n   \"id\": 436472, \n   \"key\": \"0\",
        \n   \"value\": \"Not Voting\", \n   \"vote\": 113728\n  }\n ], \n \"question\":
        \"On the Cloture Motion PN679: Kent Yoshiho Hirozawa, of New York, to be a
        Member of the National Labor Relations Board for the term of five years expiring
        August 27, 2016\", \n \"question_details\": null, \n \"related_amendment\":
        null, \n \"related_bill\": null, \n \"required\": \"3/5\", \n \"result\":
        \"Cloture Motion Agreed to\", \n \"session\": \"2013\", \n \"source\": \"senate\",
        \n \"source_label\": \"senate.gov\", \n \"total_minus\": 34, \n \"total_other\":
        2, \n \"total_plus\": 64, \n \"vote_type\": \"On the Cloture Motion\"\n}"
  recorded_at: Mon, 22 Dec 2014 01:46:09 GMT
recorded_with: VCR 2.9.3
