---
http_interactions:
- request:
    method: get
    uri: http://www.govtrack.us/api/v2/committee_member/170284
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      content-type:
      - text/html
      location:
      - https://www.govtrack.us/api/v2/committee_member/170284
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.4.6
        (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 22 Dec 2014 01:45:37 GMT
- request:
    method: get
    uri: https://www.govtrack.us/api/v2/committee_member/170284
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      generated-at:
      - '2014-12-21T20:45:37.200109'
      x-konklone-force-https:
      - 'TRUE'
    body:
      encoding: UTF-8
      string: "{\n \"committee\": {\n  \"abbrev\": \"\", \n  \"code\": \"HSVR08\",
        \n  \"committee\": 2774, \n  \"committee_type\": null, \n  \"id\": 2778, \n
        \ \"jurisdiction\": null, \n  \"jurisdiction_link\": null, \n  \"name\": \"Oversight
        and Investigations\", \n  \"obsolete\": false, \n  \"url\": null\n }, \n \"id\":
        170284, \n \"person\": {\n  \"bioguideid\": \"C001077\", \n  \"birthday\":
        \"1955-03-19\", \n  \"cspanid\": 1031340, \n  \"firstname\": \"Mike\", \n
        \ \"gender\": \"male\", \n  \"gender_label\": \"Male\", \n  \"id\": 412271,
        \n  \"lastname\": \"Coffman\", \n  \"link\": \"https://www.govtrack.us/congress/members/mike_coffman/412271\",
        \n  \"middlename\": \"\", \n  \"name\": \"Rep. Mike Coffman [R-CO6]\", \n
        \ \"namemod\": \"\", \n  \"nickname\": \"\", \n  \"osid\": \"N00024753\",
        \n  \"pvsid\": \"1535\", \n  \"sortname\": \"Coffman, Mike (Rep.) [R-CO6]\",
        \n  \"twitterid\": \"RepMikeCoffman\", \n  \"youtubeid\": \"CongressmanCoffman\"\n
        }, \n \"role\": \"chairman\", \n \"role_label\": \"Chairman\"\n}"
  recorded_at: Mon, 22 Dec 2014 01:45:38 GMT
recorded_with: VCR 2.9.3
