---
http_interactions:
- request:
    method: get
    uri: http://www.govtrack.us/api/v2/bill/75622
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.govtrack.us/api/v2/bill/75622
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.4.6
        (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 30 Dec 2014 15:52:53 GMT
- request:
    method: get
    uri: https://www.govtrack.us/api/v2/bill/75622
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Generated-At:
      - '2014-12-30T10:23:22.172537'
      X-Konklone-Force-Https:
      - 'TRUE'
    body:
      encoding: UTF-8
      string: "{\n \"bill_resolution_type\": \"bill\", \n \"bill_type\": \"house_bill\",
        \n \"bill_type_label\": \"H.R.\", \n \"committees\": [\n  {\n   \"abbrev\":
        \"FinServs\", \n   \"code\": \"HSBA\", \n   \"committee\": null, \n   \"committee_type\":
        \"house\", \n   \"committee_type_label\": \"House\", \n   \"id\": 2709, \n
        \  \"jurisdiction\": \"The House Financial Services Committee has jurisdiction
        over issues pertaining to the economy, the banking system, housing, insurance,
        and securities and exchanges. Additionally, the Committee also has jurisdiction
        over monetary policy, international finance, international monetary organizations,
        and efforts to combat terrorist financing.\", \n   \"jurisdiction_link\":
        \"http://financialservices.house.gov/about/\", \n   \"name\": \"House Committee
        on Financial Services\", \n   \"obsolete\": false, \n   \"url\": \"http://financialservices.house.gov/\"\n
        \ }, \n  {\n   \"abbrev\": \"Banking\", \n   \"code\": \"SSBK\", \n   \"committee\":
        null, \n   \"committee_type\": \"senate\", \n   \"committee_type_label\":
        \"Senate\", \n   \"id\": 2601, \n   \"jurisdiction\": null, \n   \"jurisdiction_link\":
        null, \n   \"name\": \"Senate Committee on Banking, Housing, and Urban Affairs\",
        \n   \"obsolete\": false, \n   \"url\": \"http://banking.senate.gov/\"\n  }\n
        ], \n \"congress\": 112, \n \"cosponsors\": [\n  {\n   \"bioguideid\": \"B000013\",
        \n   \"birthday\": \"1947-12-28\", \n   \"cspanid\": 26397, \n   \"firstname\":
        \"Spencer\", \n   \"gender\": \"male\", \n   \"gender_label\": \"Male\", \n
        \  \"id\": 400010, \n   \"lastname\": \"Bachus\", \n   \"link\": \"https://www.govtrack.us/congress/members/spencer_bachus/400010\",
        \n   \"middlename\": \"Thomas\", \n   \"name\": \"Rep. Spencer Bachus [R-AL6]\",
        \n   \"namemod\": \"III\", \n   \"nickname\": \"\", \n   \"osid\": \"N00008091\",
        \n   \"pvsid\": \"26715\", \n   \"sortname\": \"Bachus, Spencer (Rep.) [R-AL6]\",
        \n   \"twitterid\": \"BachusAL06\", \n   \"youtubeid\": \"congressmanbachus\"\n
        \ }, \n  {\n   \"bioguideid\": \"B001232\", \n   \"birthday\": \"1937-08-15\",
        \n   \"cspanid\": 57890, \n   \"firstname\": \"Judy\", \n   \"gender\": \"female\",
        \n   \"gender_label\": \"Female\", \n   \"id\": 400027, \n   \"lastname\":
        \"Biggert\", \n   \"link\": \"https://www.govtrack.us/congress/members/judy_biggert/400027\",
        \n   \"middlename\": \"\", \n   \"name\": \"Rep. Judy Biggert [R-IL13, 1999-2012]\",
        \n   \"nam[...]
- request:
    method: get
    uri: http://www.govtrack.us/api/v2/vote/?related_bill=75622
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.govtrack.us/api/v2/vote/?related_bill=75622
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.4.6
        (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 30 Dec 2014 15:52:53 GMT
- request:
    method: get
    uri: https://www.govtrack.us/api/v2/vote/?related_bill=75622
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Generated-At:
      - '2014-12-30T10:23:26.247087'
      X-Konklone-Force-Https:
      - 'TRUE'
    body:
      encoding: UTF-8
      string: "{\n \"meta\": {\n  \"limit\": 100, \n  \"offset\": 0, \n  \"total_count\":
        7\n }, \n \"objects\": [\n  {\n   \"category\": \"unknown\", \n   \"category_label\":
        \"Unknown Category\", \n   \"chamber\": \"house\", \n   \"chamber_label\":
        \"House\", \n   \"congress\": 112, \n   \"created\": \"2011-03-16T15:49:00\",
        \n   \"id\": 1162, \n   \"link\": \"https://www.govtrack.us/congress/votes/112-2011/h182\",
        \n   \"missing_data\": false, \n   \"number\": 182, \n   \"options\": [\n
        \   {\n     \"id\": 123288, \n     \"key\": \"P\", \n     \"value\": \"Present\",
        \n     \"vote\": 1162\n    }, \n    {\n     \"id\": 123287, \n     \"key\":
        \"-\", \n     \"value\": \"No\", \n     \"vote\": 1162\n    }, \n    {\n     \"id\":
        123286, \n     \"key\": \"+\", \n     \"value\": \"Aye\", \n     \"vote\":
        1162\n    }, \n    {\n     \"id\": 123289, \n     \"key\": \"0\", \n     \"value\":
        \"Not Voting\", \n     \"vote\": 1162\n    }\n   ], \n   \"question\": \"On
        Motion to Rise and Recommend that the Enacting Clause Be Stricken: H R 861
        NSP Termination Act\", \n   \"question_details\": null, \n   \"related_amendment\":
        null, \n   \"related_bill\": {\n    \"bill_resolution_type\": \"bill\", \n
        \   \"bill_type\": \"house_bill\", \n    \"bill_type_label\": \"H.R.\", \n
        \   \"congress\": 112, \n    \"current_status\": \"pass_over_house\", \n    \"current_status_date\":
        \"2011-03-16\", \n    \"current_status_description\": \"This bill was introduced
        in a previous session of Congress and was passed by the House on March 16,
        2011 but was never passed by the Senate.\", \n    \"current_status_label\":
        \"Passed House\", \n    \"display_number\": \"H.R. 861\", \n    \"docs_house_gov_postdate\":
        null, \n    \"id\": 75622, \n    \"introduced_date\": \"2011-03-01\", \n    \"is_alive\":
        false, \n    \"is_current\": false, \n    \"link\": \"https://www.govtrack.us/congress/bills/112/hr861\",
        \n    \"lock_title\": false, \n    \"major_actions\": [\n     [\n      \"datetime.datetime(2011,
        3, 1, 0, 0)\", \n      2, \n      \"Referred to the House Committee on Financial
        Services.\", \n      \"<action datetime=\\\"2011-03-01\\\" state=\\\"REFERRED\\\">\\n
        \     <text>Referred to the House Committee on Financial Services.</text>\\n
        \   </action>\\n    \"\n     ], \n     [\n      \"datetime.datetime(2011,
        3, 9, 0, 0)\", \n      3, \n      \"Ordered to be Reported (Amended) by the
        Yeas and Nays: 31 - 24.\", \n      \"<calendar datetime=\\\"2011-03-09\\\"
        state=\\\"REPORTED\\\">\\n      <text>Ordered to be Reported (Amended) by
        the Yeas and Nays: 31 - 24.</text>\\n    </calendar>\\n    \"\n     ], \n
        \    [\n      \"datetime.datetime(2011, 3, 16, 18, 44)\", \n      4, \n      \"On
        passage Passed by recorded vote: 242 - 182 (Roll no. 188).\", \n      \"<vote
        how=\\\"roll\\\" type=\\\"vote\\\" roll=\\\"188\\\" datetime=\\\"2011-03-16T18:44:00-04:00\\\"
        where=\\\"h\\\" result=\\\"pass\\\" state=\\\"PASS_OVER:HOUSE\\\">\\n      <text>On
        passage Passed by recorded vote: 242 - 182 (Roll no. 188).</text>\\n    </vote>\\n
        \   \"\n     ]\n    ], \n    \"noun\": \"bill\", \n    \"number\": 861, \n
        \   \"senate_floor_schedule_postdate\": null, \n    \"sliplawnum\": null,
        \n    \"sliplawpubpriv\": null, \n    \"source\": \"thomas-congproj\", \n
        \   \"source_link\": null, \n    \"sponsor\": 400277, \n    \"sponsor_role\":
        2285, \n    \"thomas_link\": \"http://thomas.loc.gov/cgi-bin/bdquery/z?d112:hr861:\",
        \n    \"title\": \"H.R. 861 (112th): NSP Termination Act\", \n    \"title_without_number\":
        \"NSP Termination Act\", \n    \"titles\": [\n     [\n      \"short\", \n
        \     \"introduced\", \n      \"NSP Termination Act\"\n     ], \n     [\n
        \     \"short\", \n      \"reported to house\", \n      \"NSP Termination
        Act\"\n     ], \n     [\n      \"short\", \n      \"passed house\", \n      \"NSP
        Termination Act\"\n     ], \n     [\n      \"official\", \n      \"introduced\",
        \n      \"To rescind the third round of funding for the Neighborhood Stabilization
        Program and to terminate the program.\"\n     ]\n    ]\n   }, \n   \"required\":
        \"1/2\", \n   \"result\": \"Failed\", \n   \"session\": \"2011\", \n   \"source\":
        \"house\", \n   \"source_label\": \"house.gov\", \n   \"total_minus\": 240,
        \n   \"total_other\": 9, \n   \"total_plus\": 183, \n   \"vote_type\": \"On
        Motion to Rise and Recommend that the Enacting Clause Be Stricken\"\n  },
        \n  {\n   \"category\": \"amendment\", \n   \"category_label\": \"Amendment\",
        \n   \"chamber\": \"house\", \n   \"chamber_label\": \"House\", \n   \"congress\":
        112, \n   \"created\": \"2011-03-16T17:49:00\", \n   \"id\": 1, \n   \"link\":
        \"https://www.govtrack.us/congress/votes/112-2011/h183\", \n   \"missing_data\":
        false, \n   \"number\": 183, \n   \"options\": [\n[...]
[...]
